<div class="container">
    <div class="nav container-flex-horz">
        <form action="/home" method="GET">
            <input type="image" id="nav-logo" src="/assets/logo.png">
        </form>
        <form action="/search" method="GET">
            <input id="search" name="search" placeholder="Search" type="search">
        </form>
        <form id="logout-form" action="/logout" method="GET">
            <button id="logout-button">logout</button>
        </form>
    </div>