<div class="container">
    <div class="row mt-3">
        <div class="col-md">
            <h2>knowledgeBase</h2>
        </div>
        <div class="col-md">
            <form action="/login" method="POST">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="email" class="form-control mb-2" name="email" placeholder="Email" required>
                    </div>
                    <div class="col-auto">
                        <input type="password" class="form-control mb-2" name="pwd" placeholder="Password" required>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-2">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md">
            <img id="kbimg" class="img-fluid" style="width: 460px; height:460px" src="/assets/kb.jpg" alt="books">
        </div>
        <div class="col-md">
            <h2 class="pb-5">Join the worlds largest community for knowledge sharing</h2>
            <form action="/signup" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="First Name" name="fname" required>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Last Name" name="lname" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" name="email" required>
                </div>
                <div class="form-group">
                    <input id="pwd1" type="password" class="form-control" placeholder="Password" name="pwd" required>
                </div>
                <div class="form-group">
                    <input id="pwd2" type="password" class="form-control" placeholder="Confirm Password" name="cpwd" required>
                </div>
                <button type="submit" class="btn btn-primary">Signup</button>
            </form>
        </div>
    </div>
</div>
<script src="/scripts/validate.js"></script>