<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-between my-3">
        <form class="form-inline" action="/search" method="POST">
            <a href="#" class="navbar-brand">kB</a>
            <input type="text" class="form-control" name="search" placeholder="Search">
        </form>
        <form class="form-inline" action="/logout" method="POST">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </nav>
    <div class="row mb-5">
        <div class="col-8">
            <img class="rounded-circle" src="https://vignette.wikia.nocookie.net/unanything/images/9/9a/638771CC-8977-4AA9-96BE-741D96CDF3E1.jpeg/revision/latest/scale-to-width-down/340?cb=20190825143621" alt="">
            <h3>Dio Brando</h3>
            <h4>Full Time Vampire | Stand: Za Warudo | Father of Giorno</h4>
            <h5>Japan</h5>
        </div>
        <div class="col-4 my-auto">
            <button class="btn btn-primary mb-5">Message</button>
            <h5>69 Likes<button type="button" class="btn btn-primary ml-2">+</button></h5>
            <h5>3 Posts</h5>
        </div>
    </div>
    <div class="row">
        <h1>All Posts by Dio</h1>
        
    </div>
</div>