.profile {
    font-family: "Arial";
    width: 50%;
    margin: 0 auto;
}

.profile img {
    border: 3px solid #F0F3F4;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(100, 100, 100, 0.2), 0 3px 10px 0 rgba(100, 100, 100, 0.19);
}

.userBasicInfo--profile div, .userPostInfo--profile div, .postDetail--profile div{
    margin: 0;
    display: inline-block;
}


/*!!! user info CSS!!!*/
.userInfo--profile {
    display: flex;
    align-items: center;
    font-size: 15pt;
    margin-bottom: 50px;
}

.userBasicInfo--profile {
    width: 75%;   
}

.userName--profile{
    font-size: 18pt;
}

.profilePic--profile {
    width: 175px;
    height: 175px;
}


/*!!! Message + Number of post CSS  !!!*/
.userPostInfo--profile {
    width: 25%;  
    color: #0073B1;
    margin-top: 100px;
}

.userPostInfo--profile form {
    display: inline-block;
}

.button--profile {
    background: #0073B1;
    border: none;
    color: #ffffff;
}

.button--profile:hover {
    background: #0A94DE;
}

#btnMsg--profile {
    border-radius: 2px;
    padding: 5px 10px; 
    margin-bottom: 15px;
}

#btnAddLike--profile {
    border-radius: 50%;
    padding: 0 9px;
}

.numPost--profile, .numLike--profile {
    padding-left: 11px;
}



 /*!!! Post list css !!!!*/
 .UserPost--profile > p {
     font-size: 22pt;
     font-weight: bold;
 }

 .postList--profile {
    display: flex;   
}

.post--profile {
    display: flex;
    justify-content: center;  
    color: #838383;
    margin-bottom: 15px; 
    font-size: 13pt;
}

.post--profile img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.title--profile {
    margin: 0;
    width: 270px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Explanation--profile {  
    font-size: 12pt;
    margin: 0;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    width: 350px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.topic--profile {
    padding-left: 5px;
    color: #97DEF0;
    border: 1px solid #97DEF0;
    width: 80px; 
}

.date--profile{
    width: 70%;
}

.numReply--profile{
    /*width: 39%;*/
    border-bottom: 1px solid #97DEF0;
}

a:link {
    text-decoration: none;
    color: #838383;
}

a:visited {
    text-decoration: none;
    color: #838383;
}

a:hover {
    color: #97DEF0;
}
